.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

  
    .poo {
      border: 2px solid black;
     border-width: 0.01em;
     border-radius: 1.2em;
      

   }
   
   .dd{
     margin-left: 30px;
     font-weight: 500;
   }